body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #fbe3e8;
}

h1 {
    color: #d63384;
}

img {
    width: 300px;
    height: auto;
    margin: 20px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    background-color: #ff4081;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
}

.btn:hover {
    background-color: #d63384;
}
